@model ContratoViewModel
@{
    ViewData["Title"] = "Contratos";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-2 col-lg-2 contratos">
       <!--  <a asp-action="Criar" class="btn btn-primary">Adicionar</a> -->
        <button type="button" onclick="modalCreate('modalCreate')" class="btn btn-success" data-toggle="modal" data-target="#modalCreate">Cadastrar</button>
    </div>
    </div>
    <partial name="_ListarContratosPartial" model="Model.Contratos" />

    <div id="modalCreateHere">

    </div>
    


<script src=~/js/contratos/create.js></script>
<script src=~/js/contratos/modal.js></script>
<script src=~/js/contratos/masks.js></script>
<link rel="stylesheet" href="~/css/empresaPArceira.css">
<!--
<form class="navbar-form navbar-right" asp-controller="Dispositivos" asp-action="PesquisarUsuario" method="get">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Nome do Usuário" name="nomeUsuario" value="@ViewData["nomeUsuario"]">
        <button type="submit" class="btn glyphicon glyphicon-search"></button>
    </div>
</form>
-->
