@model ControleTI.Models.ViewModels.DispositivoViewModel
@{
    ViewData["Title"] = "Cadastrar Novo Dispositivo";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div class="form-group">
                <label asp-for="Dispositivo.Nome" class="control-label">Dispositivo</label>
                <input asp-for="Dispositivo.Nome" class="form-control" />
                <label asp-for="Dispositivo.TipoDispositivoId" class="control-label">Tipo de Dispositivo</label>
                <select asp-for="Dispositivo.TipoDispositivoId" asp-items="@(new SelectList(Model.TiposDispositivos,"Id","Tipo"))" class="form-control"></select>
                <label asp-for="Dispositivo.MacAdress" class="control-label">Endereço MAC</label>
                <input asp-for="Dispositivo.MacAdress" class="form-control" />
                <label asp-for="Dispositivo.UsuarioId" class="control-label">Usuário</label>
                <select asp-for="Dispositivo.UsuarioId" asp-items="@(new SelectList(Model.Usuarios,"Id","NomeUsu"))" class="form-control"></select>
            </div>
            <input type="submit" class="btn btn-success" asp-action="Criar" />
            <a asp-action="Index" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>

