@model IEnumerable<Dispositivo>
@{
    ViewData["Title"] = "Dispositivos";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Criar" class="btn btn-success">Adicionar</a>
</p>
<partial name="_ListarDispositivos" model="Model"/>