@model IEnumerable<Dispositivo>
@{
    ViewData["Title"] = "Dispositivos";
}

<h2>@ViewData["Title"]</h2>
<form class="navbar-form navbar-right" asp-controller="Dispositivos" asp-action="Pesquisar" method="get">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Procurar Dispositivo" name="searchString" value="@ViewData["searchString"]">
        <button type="submit" class="btn glyphicon glyphicon-search"></button>
    </div>
</form>
<p>
    <a asp-action="Criar" class="btn btn-success">Adicionar</a>
</p>
<partial name="_ListarDispositivos" model="Model"/>