@model Software
@{
    ViewData["Title"] = "Cadastrar Software";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <input type="submit" class="btn btn-success" asp-action="Criar" />
            <a asp-action="Index" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>

