@model IEnumerable<Software>
@{
    ViewData["Title"] = "Softwares";
}





<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Criar" class="btn btn-primary">Adicionar</a>
</p>


<div id="pesquisasoftware">
    <div class="row" style="margin-top: 20px">
        <div class="form-group col-md-2 col-lg-2 col-sm-2">
            @Html.AntiForgeryToken()
            <label for="nomeSoftware">Nome do Software</label>
            <input type="text" class="form-control" placeholder="Procurar Software" name="nomeSoftware" id="nomeSoftware">
        </div>
        <!-- <button type="submit" class="btn glyphicon glyphicon-search"></button> -->

    </div>
</div>

<partial name="_ListarSoftwarePartial" model="Model" />


<script src="~/js/softwares/PesquisaJSON.js"></script>
<script src="~/js/softwares/EventNomeSoftware.js"></script>
<script src="~/js/softwares/MontaTabelaSoftware.js"></script>