@model IEnumerable<DispositivoSoftware>
<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                Dispositivo
            </th>
            <th>
                Usuário
            </th>
            <th>
                Serial Key
            </th>
            <th>
                Id Instalação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(usu => item.Dispositivo.Nome)
                </td>
                <td>
                    @Html.DisplayFor(usu => item.Dispositivo.Usuario.NomeUsu)
                </td>
                <td>
                    @Html.DisplayFor(usu => item.SerialKey.Key)
                </td>
                <td>
                    @Html.DisplayFor(usu => item.IdInstalacao)
                </td>
            </tr>
        }
    </tbody>
</table>