@model ControleTI.Models.ViewModels.SerialKeyViewModel
@{
    ViewData["Title"] = "Cadastrar Chaves de Software";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div class="form-group">
                <label asp-for="Software.Nome" class="control-label">Software</label>
                <select asp-for="SerialKey.SoftwareId" asp-items="@(new SelectList(Model.Softwares,"Id","Nome"))" class="form-control"></select>
                <label asp-for="SerialKey.Key" class="control-label"></label>
                <input asp-for="SerialKey.Key" class="form-control" />
                <label asp-for="SerialKey.IdInstalacao" class="control-label"></label>
                <input asp-for="SerialKey.IdInstalacao" class="form-control" />
                <label asp-for="SerialKey.Quantidade" class="control-label"></label>
                <input asp-for="SerialKey.Quantidade" class="form-control" />
            </div>
            <input type="submit" class="btn btn-success" asp-action="Criar" />
            <a asp-action="Index" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>

