@model SerialKey
@{
    ViewData["Title"] = "Excluir";
}

<h2>@ViewData["Title"]</h2>

<h3>Deseja Exluir?</h3>

<div>
    <h4>Serial Key</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Software
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Software.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Key)
        </dd>
    </dl>
    <form asp-action="Excluir">
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="btn btn-danger" asp-action="Excluir" value="Sim" />
        <a asp-action="index" class="btn btn-success">Não</a>
    </form>
</div>