@model IEnumerable<ControleTI.Models.Setor>
@{
    ViewData["Title"] = "Setores";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Criar" class="btn btn-primary">Adicionar</a>
</p>

<div id="pesquisarSetor">
    <div class="row" style="margin-top: 20px">
        <div class="form-group col-md-2 col-lg-2 col-sm-2">
            @Html.AntiForgeryToken()
            <label for="nomeSetor">Nome do Setor</label>
            <input type="text" class="form-control" placeholder="Procurar Setor" name="nomeSetor" id="nomeSetor">
        </div>
        <!-- <button type="submit" class="btn glyphicon glyphicon-search"></button> -->

    </div>
</div>
<partial name="_ListarSetoresPartial" model="Model" />
<script src="~/js/setores/PesquisaJSON.js"></script>
<script src="~/js/setores/EventNomeSetor.js"></script>
<script src="~/js/setores/MontaTabelaSetor.js"></script>