@model ControleTI.Models.Status
@{
    ViewData["Title"] = "Editar";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <input type="hidden" asp-for="StatusId" />
            <div class="form-group">
                <label asp-for="StatusId" class="control-label">ID: @Model.StatusId.ToString("D2")</label><br />
                <label asp-for="StatusId" class="control-label"></label>
                <input asp-for="StatusNome" class="form-control" />
                <span asp-validation-for="StatusNome" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-success" asp-action="Editar" value="Salvar" />
            <a asp-action="Index" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
</div>